body {
	background-color: $main_color;
	color: $main_color;
	font-size:18px;
	font-weight: 300;
  overflow-x: hidden;
  &.noscroll{
    position: fixed;
    overflow: hidden;
    height: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $main_color;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
}

i {
  cursor: pointer;
  position: relative;
  z-index: inherit;
}

iframe {
  max-width: 100%;
}

header {
  &.login {
    padding: 50px 0px;
  }
  &.dark {
    background-color:$main_color;
    margin: 0;
    padding: 10px 0px;
    ul li {
      text-align: center;
      padding-bottom: 0;
    }
  }
  &.home-header {
    background-color: darken($VPT_blue,10);
    margin-top: -10px;
    padding: 10px 0px;
    padding-bottom: 0px;
    color: #fff;
    position: relative;
    .lines {
      background-color: #fff;
    }
    h3 {
      color: #fff;
      font-weight: 300;
    }
    div.row {
      z-index: 2;
      position: relative;
    }
  }
}

h5 {
	font-size: 18px;
	font-weight: 300;
  margin: 0;
}

hr.short-stroke {
  width: 30px;
  margin: 20px auto 30px;
  border: 1px solid;
}

button.menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  z-index: 300;
  appearance: none;
  border: none;
  cursor: pointer;
  height: 30px;
  user-select: none;
  width: 30px;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

form.login, .white.login {
  text-align: center;
  label, div {
    text-align: left;
  }
  select {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    &.clear {
      border: none;
    }
  }
  > div label+input {
    margin-left:20%;
  }
  input {
    border: none;
    border-bottom: 1px solid #d5d5d5;
    outline: none;
    box-shadow: none;
    text-align: left;
    &:focus {
      background-color: #fff;
      border-bottom: 2px solid $VPT_blue;
    }
  }
  .btn {
    font-size: 0.75rem;
    @include box-shadow(0px,0px,15px,#000,0.3);
    width: 45%;
    margin-bottom: 0;
  }
  p {
    font-size: 0.85rem;
    margin-bottom: 0;
  }
}

ul.days li {
  width: 100%;
  background-color:#fff;
  color: $VPT_lblue;
  margin-bottom: 15px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  @include box-shadow(0px,0px,8px,#000,0.15);
  i {
    float: right;
    line-height: 27px;
  }
}

div.c-menu button.menu + span {
    vertical-align: top;
    line-height: 17px;
}

div.white {
  background-color: #FFF;
  &.login {
    padding: 30px 20px;
    @include box-shadow(0px,0px,15px,#000,0.15);
  }
}

@media only screen {
  .small-10 {
      width: 83.33333% !important;
  }
}

.shadowBG {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.07);
}

.stickMe {
  .c-menu {
    padding-left: .625rem;
    padding-right: .625rem;
    padding-top: .625rem;
    display: none;
  }
  &.-is-sticky {
    @extend .-bg-blue;
  }
  &.-is-sticky .c-menu {
    display: block;
  }
}

.-is-sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.dp-block {
  display: block;
}

.m-auto {
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}

.stickyMenu {
  display: none;
}

.is-stuck .stickyMenu {
  display: block;
}

.image-header {
  @include circle(50px);
  border: 1px solid #fff;
}

.meal_times, .training_times {
  padding-bottom: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.meal_times__header, .training_times__header {
  font-size: 1.35rem;
  font-weight: 300;
}

.meal_times__anchor, .training_times__anchor {
  font-size: 80%;
  font-weight: 400;
}

.training_times__image {
  width: 35%;
  margin: 15px 0px;
}

.body {
  padding-top: 10px;
  background-color: $main_bg;
  width: 100%;
  min-height: 100%;
  transition: all 0.7s;
  padding-bottom: 20px;
}

.logo {
  @include circle(60px);
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
}

.calender {
  width: 50%;
  margin: 0 auto;
}

.animate {
  transition: all 0.25s;
}

.off-canvas {
  position: absolute;
  left: -100vw;
  color: #fff;
  height: 100vh;
  background-color: inherit;
  @extend .v-center;
  ul {
    list-style-type: none;
  }
  &.menu {
    left: 0;
    z-index: 1;
    ul a:first-child {
      position: absolute;
      top: 10px;
      font-size: 30px;
    }
  }
  li{
    margin-bottom: 20px;
    &.active {
      color: $VPT_blue;
    }
  }
}

.v-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.body.show-menu {
  transform: translate3d(100px,0px,0) scale(0.8);
  overflow: hidden;
  height: 100%;
  box-shadow: 0px 0px 25px rgba(49,49,49,0.7);
}

.btn {
  &.skinny {
    font-size: 0.75rem;
    @include box-shadow(0px,0px,15px,#000,0.3);
    width: 45%;
    margin-bottom: 0;
  }
  &.blue:focus {
    background-color: $VPT_blue;
  }
  text-transform: uppercase;
  border: 1px solid $VPT_blue;
  background-color: $VPT_blue;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  outline: none !important;
  &.green {
    border: 1px solid $VPT_green;
    color: $VPT_green;
    &.clicked-complete {
      background: $VPT_green;
      color: #fff;
      i {
        width: 93.5px;
      }
    }
  }
  &.inverted.blue {
    background-color:#fff;
    border: 1px solid $VPT_blue;
    color: $VPT_blue;
    box-shadow: none;
  }
}

.lines {
	height: 3px;
	width: 24px;
	position: relative;
	background-color: $main_color;
	display: block;
	border-radius: 6px;
}

.lines::before, .lines::after {
	
	@extend .lines;
	content: '';
	position: absolute;
	left: 0;
	top: -14px;
}

.lines::after {
	left: -5px;
	top: -7px;
}

.logo {
	font-family: "Megrim";
	color: #EDEDEE;
}

.circle {
	border: 1px solid #fff;
	&.small {
		@include circle(20px);
	}
}

.tabs {
  background: inherit;
  border: none;
  .tabs-title {
    width: 33%;
    > a {
      text-align: center;
      font-size: 1rem;
      padding: 5px;
    }
  }
}

.tabs-content {
  background-color: inherit;
  border: none;
}

.tabs-title>a:hover {
  background: inherit;
  color: #fff;
  font-weight: 400;

}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  background: inherit;
  color: #fff; 
  border-bottom: 5px solid $VPT_blue;
  font-weight: 400;
}

.sm-margin {
	@include margin(20px);
}

.md-margin {
	@include margin(40px);
}

.lg-margin {
	@include margin(60px);
}

.no-ul-margin ul {
	margin:0;
}

.weeks i {
  margin: 0px 20px;
}

.meal-breakdown, .ex-breakdown {
  text-align: left;
  padding-bottom: 50px !important;
  h5 {
    color: #333;
  }
  ul {
    padding:0 1.375rem;
    margin: 0;
    li {
      list-style-type: disc;
      color: $VPT_lblue;
    }
  }
  i.fav {
    font-size: 25px;
    color: #C7A06B;
  }
  i.del {
    padding-right: 4px;
    color: #DC0000;
  }
  .canvas {
    margin-right: 15px;
    & + div {
      margin-top: 20px;
      ul {
        padding: 0;
        li {
          list-style-type: none;
        } 
      } 
    }
  }
}

.meal-breakdown__swap {
    background: $VPT_blue;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    height: 50px;
}

.meal-action h5 {
  text-align: right;
}

.block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  &.green {
    background-color: $VPT_green;
  }
  &.blue {
    background-color: $VPT_blue;
  }
  &.brown {
    background-color: $VPT_brown;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #FFF;
  padding: 15px 0px;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  i.fa-times {
    font-size: 30px;
  }
  &.meal-breakdown, &.ex-breakdown {
    position: fixed;
    padding: 0;
    > div {
      padding: 10px 15px;
      height: 100%;
      overflow: scroll;
    }
  }
}

/* Foundation Overrides */
.progress {
  background-color: #74A2CA;
  height: .1rem;
  margin: 1rem 0;
  border-radius: 0;
}
